body {
  background: rgba(255, 255, 255, 1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  background: white;
  padding: 48px 32px;
  border-radius: 16px;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo {
  width: auto;
  margin: 0 auto 10px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.box p {
  margin: 0;
}

.input_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.email,
.password,
.name {
  font-size: 14px;
  line-height: 160%;
  color: rgba(112, 112, 112, 1);
}

.email-input,
.password-input,
.name-input {
  height: 42px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 0 12px;
  outline: none;
  font-size: 14px;
}

.email-input::placeholder,
.password-input::placeholder,
.name-input::placeholder {
  color: rgba(189, 189, 189, 1);
}

.email-input:focus,
.password-input:focus,
.name-input::placeholder {
  border-color: #0d6efd;
}

.login-button,
.register-button {
  height: 48px;
  border: none;
  border-radius: 8px;
  background: rgba(0, 119, 182, 1);
  color: white;
  cursor: pointer;
  font-weight: 500;
  margin-top: 6px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  color: #6b7280;
  margin-top: 6px;
  text-decoration: none;
}

.register span {
  color: #1570ef;
  cursor: pointer;
}
